
@import "tailwindcss";

@media print {
  /* Hide everything else on the page */
  body * {
    visibility: hidden;
  }
  /* Only show the element with the ID 'kot-receipt' */
  #kot-receipt, #kot-receipt * {
    visibility: visible;
  }
  #kot-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* Remove headers/footers (URL, Date) from the browser print */
  @page {
    margin: 0;
  }
}